<!DOCTYPE html>
<html lang="en" ng-app="appTest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Try Angular v1.5.0</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" type="image/x-icon">
    <link rel="stylesheet" href="style/css/style.css">
    <script src="js/app/app.module.js"></script>
    <script src="js/app/app.config.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <nav class="container-fluid">
        <div class="container">
          <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" width="50" height="50">
          <h1>Try Angular v1.5.0</h1>
        </div>
    </nav>

    <section class="container" ng-controller="inputTestCtrl">
      <h3>Input</h3>
      <p ng-class="{'new-class': input1, 'new-class2' : input2=='more'}">Hello
        <span ng-if="input1">{{input1}}</span>
        <span ng-if="!input1">World!</span>
      </p>
      <input type="text" ng-model="input1" placeholder="Insert your text here">
      <input type="text" ng-model="input2" placeholder="Insert your text here">
      <hr>
    </section>
    <section  class="container" ng-controller="tryAngularListCtrl">
      <h3>Control list</h3>
      <input class="search" type="text" ng-model="search" placeholder="Search your list item">
      <p>Searching element:
      <span ng-if="search">{{search}}</span>
      <span ng-if="!search"><i>None</i></span></p>
      <ul ng-repeat='listItem in listItems | filter: search' ng-class="{'done' : checkTest}">
        <li>
          <input type="checkbox" ng-model="checkTest"><span>{{listItem.listText}}</span>
        </li>
      </ul>
      <hr>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
